<style>
    .product-image-gallery{
        /*height: 500px;*/
        overflow-y: scroll;
        direction: rtl;
    }
    .product-gallery-item{
        height: 115px;
    }
</style>
<main class="main">
    {{!-- <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
        <div class="container d-flex align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="i">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Products</a></li>
                <li class="breadcrumb-item active" aria-current="page">Default</li>
            </ol>

            <nav class="product-pager ml-auto" aria-label="Product">
                <a class="product-pager-link product-pager-prev" href="#" aria-label="Previous" tabindex="-1">
                    <i class="icon-angle-left"></i>
                    <span>Prev</span>
                </a>

                <a class="product-pager-link product-pager-next" href="#" aria-label="Next" tabindex="-1">
                    <span>Next</span>
                    <i class="icon-angle-right"></i>
                </a>
            </nav><!-- End .pager-nav -->
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav --> --}}

    <div class="page-content">
        <div class="container">
            <div class="product-details-top">
                <div class="row">
                    <div class="col-md-6">
                        <div class="product-gallery product-gallery-vertical">
                            <div class="row">
                                <figure class="product-main-image">
                                    <img id="product-zoom" src="/admin/api/products/mainimage/{{product._id}}?height=500&width=500&quality=70"
                                        data-zoom-image="/admin/api/products/mainimage/{{product._id}}?height=750&width=750&quality=90" alt="product image">

                                    <a href="#" id="btn-product-gallery" class="btn-product-gallery">
                                        <i class="icon-arrows"></i>
                                    </a>
                                </figure><!-- End .product-main-image -->

                                <div id="product-zoom-gallery" class="product-image-gallery">
                                    
                                    <a class="product-gallery-item active" href="#"
                                        data-image="/admin/api/products/mainimage/{{product._id}}?height=500&width=500&quality=70"
                                        data-zoom-image="/admin/api/products/mainimage/{{product._id}}?height=750&width=750&quality=90">
                                        <img src="/admin/api/products/mainimage/{{product._id}}?height=500&width=500&quality=70" alt="{{product.Name}} Mian Image">
                                    </a>

                                    <a class="product-gallery-item" href="#"
                                        data-image="/admin/api/products/seondaryimage/{{product._id}}?height=500&width=500&quality=70"
                                        data-zoom-image="/admin/api/products/seondaryimage/{{product._id}}?height=750&width=750&quality=90">
                                        <img src="/admin/api/products/seondaryimage/{{product._id}}?height=500&width=500&quality=70" alt="{{product.Name}} Secoundary Image">
                                    </a>

                                    {{#each product.images}}
                                    <a class="product-gallery-item" href="#"
                                        data-image="data:{{Type}};base64,{{Content}}"
                                        data-zoom-image="data:{{Type}};base64,{{Content}}">
                                        <img src="data:{{Type}};base64,{{Content}}" alt="{{product.Name}} Other Image">
                                    </a>
                                    {{/each}}
                                    
                                </div><!-- End .product-image-gallery -->
                            </div><!-- End .row -->
                        </div><!-- End .product-gallery -->
                    </div><!-- End .col-md-6 -->

                    
                    <div class="col-md-6">
                        <form id="proudct-form" method="POST">
                        <div class="product-details">
                            <h1 class="product-title">{{product.Name}}</h1>
                            <!-- End .product-title -->

                            {{!-- <div class="ratings-container">
                                <div class="ratings">
                                    <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                </div><!-- End .ratings -->
                                <a class="ratings-text" href="#product-review-link" id="review-link">( 2 Reviews )</a>
                            </div><!-- End .rating-container --> --}}

                            {{#ifCond product.SellingPrice '<' product.DiscountedPrice}}
                            <div class="product-price mb-0">
                                <del>BDT {{product.DiscountedPrice}} </del>
                            </div>
                            <div class="product-price">
                                BDT {{product.SellingPrice}}
                            </div>
                            {{else}}
                            <div class="product-price">
                                BDT {{product.DiscountedPrice}}
                            </div>
                            {{/ifCond}}
                            <small>VAT inclusive *</small>
                            <div class="product-content">
                                {{!-- <p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus
                                    libero eu augue. Morbi purus libero, faucibus adipiscing. Sed lectus. </p> --}}
                            </div><!-- End .product-content -->

                            {{!-- <div class="details-filter-row details-row-size">
                                <label>Color:</label>

                                <div class="product-nav product-nav-thumbs">
                                    <a href="#" class="active">
                                        <img src="/home/assets/images/products/single/1-thumb.jpg" alt="product desc">
                                    </a>
                                    <a href="#">
                                        <img src="/home/assets/images/products/single/2-thumb.jpg" alt="product desc">
                                    </a>
                                </div><!-- End .product-nav -->
                            </div><!-- End .details-filter-row --> --}}
                            {{#if product.Size}}
                            <div class="details-filter-row details-row-size">
                                <label for="size">Size:</label>
                                <div class="select-custom">
                                    <select name="size" id="size" class="form-control" required>
                                        <option value="" selected="selected">Select a size</option>
                                        {{#each product.Size}}
                                        <option value="{{this}}">{{this}}</option>
                                        {{/each}}
                                        
                                    </select>
                                </div><!-- End .select-custom -->

                                {{!-- <a href="#" class="size-guide"><i class="icon-th-list"></i>size guide</a> --}}
                            </div><!-- End .details-filter-row -->
                            {{/if}}

                            {{#if product.Color}}
                            <div class="details-filter-row details-row-size">
                                <label for="size">Color:</label>
                                <div class="select-custom">
                                    <select name="color" id="color" class="form-control" required>
                                        <option value="" selected="selected">Select a Color</option>
                                        {{#each product.Color}}
                                        <option value="{{this}}">{{this}}</option>
                                        {{/each}}
                                    </select>
                                </div><!-- End .select-custom -->
                            </div><!-- End .details-filter-row -->
                            {{/if}}

                            <div class="details-filter-row details-row-size">
                                <label for="qty">Qty:</label>
                                <div class="product-details-quantity">
                                    <input type="number" id="qty" class="form-control" value="1" min="1" max="10"
                                        step="1" data-decimals="0" required>
                                </div><!-- End .product-details-quantity -->
                            </div><!-- End .details-filter-row -->

                            <div class="product-details-action">
                                <button type="submit" class="btn-product btn-cart"><span>add to cart</span></button>

                                {{!-- <div class="details-action-wrapper">
                                    <a href="#" class="btn-product btn-wishlist" title="Wishlist"><span>Add to
                                            Wishlist</span></a>
                                    <a href="#" class="btn-product btn-compare" title="Compare"><span>Add to
                                            Compare</span></a>
                                </div><!-- End .details-action-wrapper --> --}}
                            </div><!-- End .product-details-action -->

                            <div class="product-details-footer">
                                <div class="product-cat">
                                    <span>Category:</span>
                                    |
                                    {{#each product.Category}}
                                    <a href="/shop/category/{{Slug}}">{{Name}}</a> | 
                                    {{/each}}
                                    
                                </div><!-- End .product-cat -->

                                {{!-- <div class="social-icons social-icons-sm">
                                    <span class="social-label">Share:</span>
                                    <a href="#" class="social-icon" title="Facebook" target="_blank"><i
                                            class="icon-facebook-f"></i></a>
                                    <a href="#" class="social-icon" title="Twitter" target="_blank"><i
                                            class="icon-twitter"></i></a>
                                    <a href="#" class="social-icon" title="Instagram" target="_blank"><i
                                            class="icon-instagram"></i></a>
                                    <a href="#" class="social-icon" title="Pinterest" target="_blank"><i
                                            class="icon-pinterest"></i></a>
                                </div> --}}
                            </div><!-- End .product-details-footer -->
                        </div><!-- End .product-details -->
                        </form>
                    </div><!-- End .col-md-6 -->
                    
                </div><!-- End .row -->
            </div><!-- End .product-details-top -->

            <div class="product-details-tab">
                <ul class="nav nav-pills justify-content-center" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="product-desc-link" data-toggle="tab" href="#product-desc-tab"
                            role="tab" aria-controls="product-desc-tab" aria-selected="true">Description</a>
                    </li>
                    {{!-- <li class="nav-item">
                        <a class="nav-link" id="product-info-link" data-toggle="tab" href="#product-info-tab" role="tab"
                            aria-controls="product-info-tab" aria-selected="false">Additional information</a>
                    </li> --}}
                    <li class="nav-item">
                        <a class="nav-link" id="product-shipping-link" data-toggle="tab" href="#product-shipping-tab"
                            role="tab" aria-controls="product-shipping-tab" aria-selected="false">Shipping & Returns</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="product-review-link" data-toggle="tab" href="#product-review-tab"
                            role="tab" aria-controls="product-review-tab" aria-selected="false">Reviews ({{reviews.length}})</a>
                    </li>
                   
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="product-desc-tab" role="tabpanel"
                        aria-labelledby="product-desc-link">
                        <div class="product-desc-content">
                            <h3>Product Information</h3>
                            <div>{{{product.Description}}} </div>
                        </div><!-- End .product-desc-content -->
                    </div><!-- .End .tab-pane -->
                    <div class="tab-pane fade" id="product-info-tab" role="tabpanel"
                        aria-labelledby="product-info-link">
                        <div class="product-desc-content">
                            <h3>Information</h3>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat
                                mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna viverra non, semper
                                suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam
                                porttitor mauris sit amet orci. </p>

                            <h3>Fabric & care</h3>
                            <ul>
                                <li>Faux suede fabric</li>
                                <li>Gold tone metal hoop handles.</li>
                                <li>RI branding</li>
                                <li>Snake print trim interior </li>
                                <li>Adjustable cross body strap</li>
                                <li> Height: 31cm; Width: 32cm; Depth: 12cm; Handle Drop: 61cm</li>
                            </ul>

                            <h3>Size</h3>
                            <p>one size</p>
                        </div><!-- End .product-desc-content -->
                    </div><!-- .End .tab-pane -->
                    <div class="tab-pane fade" id="product-shipping-tab" role="tabpanel"
                        aria-labelledby="product-shipping-link">
                        <div class="product-desc-content">
                            <h3>Delivery & returns</h3>
                            <p>At IQON we exchange products within 7 calendar days For exchange,
                                products must be in resalable condition. For hygiene issues, we won't exchange undergarments, 
                                socks, fashion accessories,  items. The exchangeable value must be equal or more in value.
                                IQON does not give refunds. Items purchased on promotions are non -exchangeable.
                                For feedback contact us at <span><i class="icon-phone"></i> +88 0173 2239567</span> and <a target="_blank" href="https://www.facebook.com/iqon2020 "><i class="icon-facebook-f"></i> Facebook Page</a></p>
                        </div><!-- End .product-desc-content -->
                    </div><!-- .End .tab-pane -->
                    
                    <div class="tab-pane fade" id="product-review-tab" role="tabpanel" aria-labelledby="product-review-link">
                        <div class="reviews">
                            {{#if allowAddingReview}}
                            <div class="review">
                                <div class="row no-gutters">
                                    <div class="col">
                                        <h4>Add Your Review</h4>
                                        <form action="/product/review" method="POST">
                                            <div class="review-content">
                                                <input type="hidden" name="product" value="{{product._id}}">
                                                <input type="hidden" name="slug" value="{{product.Slug}}">
                                                <input type="hidden" name="customer" value="{{user._id}}">
                                                <textarea name="review" cols="30" rows="2" style="width: 100%;"></textarea>
                                                <button class="btn btn-primary float-right" type="submit">Post A Review</button>
                                            </div><!-- End .review-content -->
                                        </form>
                                        
                                    </div><!-- End .col-auto -->
                                </div><!-- End .row -->
                            </div><!-- End .review -->
                            {{/if}}
                            {{#each reviews}}

                            <div class="review">
                                <div class="row no-gutters">
                                    <div class="col-3">
                                        <h4><a>{{Customer.Name}}</a></h4>
                                        <div class="ratings-container">
                                            {{!-- <div class="ratings">
                                                <div class="ratings-val" style="width: 100%;"></div><!-- End .ratings-val -->
                                            </div><!-- End .ratings --> --}}
                                        </div><!-- End .rating-container -->
                                        <span class="review-date">{{InsertionDate}}</span>
                                    </div><!-- End .col -->
                                    <div class="col-9">
                                        {{!-- <h4>Very good</h4> --}}

                                        <div class="review-content">
                                            <p style="color: black;">{{Review}}</p>
                                        </div><!-- End .review-content -->

                                        <div class="review-action">
                                            
                                            {{#ifCond Customer._id '==' ../user._id}}
                                            <a onclick="deleteReview('{{_id}}')" style="cursor: pointer;">Delete</a>
                                            {{/ifCond}}
                                        </div><!-- End .review-action -->
                                    </div><!-- End .col-auto -->
                                </div><!-- End .row -->
                            </div><!-- End .review -->

                            {{/each}}
                        </div><!-- End .reviews -->
                    </div><!-- .End .tab-pane -->
                  
                </div><!-- End .tab-content -->
            </div><!-- End .product-details-tab -->


            {{#if realtedProducts}}
            <h2 class="title text-center mb-4">You May Also Like</h2><!-- End .title text-center -->
            {{/if}}

            <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl"
                data-owl-options='{
                            "nav": false, 
                            "dots": true,
                            "margin": 20,
                            "loop": false,
                            "responsive": {
                                "0": {
                                    "items":1
                                },
                                "480": {
                                    "items":2
                                },
                                "768": {
                                    "items":3
                                },
                                "992": {
                                    "items":4
                                },
                                "1200": {
                                    "items":4,
                                    "nav": true,
                                    "dots": false
                                }
                            }
                        }'>

                {{#each realtedProducts}}
                <div class="product product-7 text-center">
                    <figure class="product-media">
                        {{#if IsFeatured}}
                            <span class="product-label label-new">Featured</span>
                        {{/if}}

                        {{#if StockAvailable}}

                        {{else}}
                            <span class="product-label label-danger">Stock Out</span>
                        {{/if}}
                        <a href="/product/{{Slug}}">
                            <img src="/admin/api/products/mainimage/{{_id}}?height=250&width=250&quality=70"  alt="Product image" class="product-image">
                        </a>

                        <div class="product-action-vertical">
                            <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to
                                    wishlist</span></a>
                            <a href="popup/quickView.html" class="btn-product-icon btn-quickview"
                                title="Quick view"><span>Quick view</span></a>
                            <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                        </div><!-- End .product-action-vertical -->

                        <div class="product-action">
                            {{#ifCond Size '||' Color}}
                                <a href="/product/{{Slug}}?msg=1" class="btn-product btn-cart"><span>add to cart</span></a>
                            {{else}}
                                <a onclick="addToCart('{{_id}}', 1,)" class="btn-product btn-cart"><span>add to cart</span></a>
                            {{/ifCond}}
                        </div><!-- End .product-action -->
                    </figure><!-- End .product-media -->

                    <div class="product-body">
                        <div class="product-cat">
                            <a href="/shop/category/{{Category.Slug}}">{{Category.Name}}</a>
                        </div><!-- End .product-cat -->
                        <h3 class="product-title"><a href="/product/{{Slug}}">{{Name}}</a></h3>
                        <!-- End .product-title -->
                        {{#ifCond SellingPrice '<' DiscountedPrice}}
                        <div class="product-price mb-0">
                            <del>BDT {{DiscountedPrice}} </del>
                        </div>
                        <div class="product-price">
                            BDT {{SellingPrice}}
                        </div>
                        {{else}}
                        <div class="product-price">
                            BDT {{DiscountedPrice}}
                        </div>
                        {{/ifCond}}
                    </div><!-- End .product-body -->
                </div><!-- End .product -->
                {{/each}}
            </div><!-- End .owl-carousel -->
        </div><!-- End .container -->
    </div><!-- End .page-content -->
</main><!-- End .main -->

<!-- review delete -->
<div style="display: none;">
    <form action="/product/review/delete" method="POST">
        <input type="hidden" name="review_id" id="review_id" value="">
        <input type="hidden" name="product_slug" value="{{product.Slug}}">
        <button type="submit" id="delete-review"> submit </button>
    </form>
</div>
<script>

    function deleteReview(id){
        $('#review_id').val(id);
        $('#delete-review').click();
    }


    $('#proudct-form').submit(function(event){
        event.preventDefault();
        let product_id = '{{product._id}}';

        if($('#color').length == 1){ //has color attribute
            if($('#color').val() == ''){
                showSnackBar('Please select color', 'warning');
                return
            }
        }

        if($('#size').length == 1){ //has size attribute
            if($('#size').val() == ''){
                showSnackBar('Please select size', 'warning');
                return
            }
        }

        addToCart( product_id, $('#qty').val(), $('#size').val(), $('#color').val() );
    });

    $('.review-date').each(function( index ) {
        $( this ).html(dateFormat($( this ).text()));
    });

    function dateFormat(dateInput){
      if (dateInput === null) {
          return "";
      } else {
          var d = new Date(dateInput);
          var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
          return (d.getDate() + '-' + months[d.getMonth()] + '-' + d.getFullYear() + " " + d.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true, timeZone: Intl.DateTimeFormat().resolvedOptions().timeZone }));
      }
    }
</script>