<link rel="stylesheet" href="/home/assets/css/plugins/nouislider/nouislider.css">
<main class="main">
    <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">{{title}}</h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->

    <div class="page-content mt-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-9" id="product-grid">
                  <!-- Products load here -->
                </div><!-- End .col-lg-9 -->
            <aside class="col-lg-3 order-lg-first">
                <form action="" method="" id="product-filter">
                    <div class="sidebar sidebar-shop">
                        <div class="widget widget-clean">
                            <label>Filters:</label>
                            <a href="#" class="sidebar-filter-clear">Clean All</a>
                        </div><!-- End .widget widget-clean -->

                        <div class="widget widget-collapsible">
                            <h3 class="widget-title">
                                <a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true"
                                    aria-controls="widget-1">
                                    Category
                                </a>
                            </h3><!-- End .widget-title -->

                            <div class="collapse show" id="widget-1">
                                <div class="widget-body">
                                    <div class="filter-items filter-items-count">
                                        {{#each categories}}
                                        <div class="filter-item">
                                            <div class="custom-control custom-checkbox">
                                                <input onchange="prepareCategoryInput('{{_id}}')" type="checkbox"
                                                    class="custom-control-input category-checkbox" id="cat-{{_id}}"
                                                    value="{{_id}}" checked>
                                                <label class="custom-control-label" for="cat-{{_id}}">{{Name}}</label>
                                            </div><!-- End .custom-checkbox -->
                                            {{!-- <span class="item-count">3</span> --}}
                                        </div><!-- End .filter-item -->
                                        {{/each}}
                                    </div><!-- End .filter-items -->
                                </div><!-- End .widget-body -->
                            </div><!-- End .collapse -->
                        </div><!-- End .widget -->

                        <div class="widget widget-collapsible">
                            <h3 class="widget-title">
                                <a data-toggle="collapse" href="#widget-5" role="button" aria-expanded="true"
                                    aria-controls="widget-5">
                                    Price
                                </a>
                            </h3><!-- End .widget-title -->

                            <div class="collapse show" id="widget-5">
                                <div class="widget-body">
                                    <div class="filter-price">
                                        <div class="filter-price-text">
                                            Price Range:
                                            <span id="filter-price-range"></span>
                                        </div><!-- End .filter-price-text -->

                                        <div id="price-slider"></div><!-- End #price-slider -->
                                    </div><!-- End .filter-price -->
                                </div><!-- End .widget-body -->
                            </div><!-- End .collapse -->
                        </div><!-- End .widget -->

                        <button type="submit" class="btn btn-outline-primary-2"
                            style="width: 100%;"><span>Filter</span></button>
                    </div><!-- End .sidebar sidebar-shop -->
                </form>

            </aside><!-- End .col-lg-3 -->
        </div><!-- End .row -->
    </div><!-- End .container -->
    </div><!-- End .page-content -->
</main><!-- End .main -->

<script src="/home/assets/js/wNumb.js"></script>
<script src="/home/assets/js/nouislider.min.js"></script>

<script>
    let price_range_values = [0, 0];
    let filter_category_ids = [];
    let page = 1;

    $('#product-filter').submit(function (event) {
        event.preventDefault();
        $('#loader').show();
        $.ajax({
            type: "POST",
            url: '/api/shop/filter-products',
            data: {
                categories: filter_category_ids,
                price_range: fixPriceRange(),
                page: page,
            },
            success: function (response) {
                $('#loader').hide();
                $('#product-grid').html(response);
            },
        });
    });

    function prepareCategoryInput(cat_id = null) {
        if (cat_id == null) { // add all categories to list
            filter_category_ids = [];
            $('.category-checkbox').each(function (ind) {
                let id = $(this)[0].id;
                filter_category_ids.push(id.split('cat-')[1]);
            });
        }
        else {
            let ind = filter_category_ids.indexOf(cat_id);
            if (ind == -1) { // list a nai so add
                filter_category_ids.push(cat_id);
            }
            else { // list a ase so baad
                filter_category_ids.splice(ind, 1);
            }
        }
    }

    function pageChange(p){
        page = p;
        $('#product-filter').submit();
    }

    function fixPriceRange() {
        //removes '৳ ' from begining
        price_from = price_range_values[0].substring(2, price_range_values[0].length);
        price_to = price_range_values[1].substring(2, price_range_values[1].length);
        return [price_from, price_to];
    }
    prepareCategoryInput();

    $(document).ready(function(){
        setTimeout(function(){
            $('#product-filter').submit();
        }, 100);
    });
    
</script>